<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>render</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12"><br></div>
        <div class="col-md-12">
            <br>
            <h3 class="text-center">
                Here is your URL !
            </h3>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12"><br></div>
        <div class="col-md-12">
            <br>
            <h3 class="text-center">
                {{ site }}
            </h3>
        </div>
    </div>
</div>
</body>
</html>